<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
 	<title>home</title>
    </head>
<style>
div {
    text-align: center;
    margin: auto;
}
</style>
<body>
    <div>
    <br><br>
    <nav>
<h3><a href="/">Blog</a> |
<a href="/categories">Categories</a> |
<a href="/about">About</a> |
<a href="/contact">Contact</a></h3>
    </nav><br><br>
    </div>
   <div>
       <h2>Blog</h2>
    </div> 
    <br>
    <br>
    <div>
    <form method="post">
        {{ form.search.label }}<br>
		{{ form.search}}<br>
		{{ form.submit }}
	</form>
    </div>
    <br><br>
    <div>
        {% for item in posts %}
         <a href="{{item[0]}}">{{item[1]}}</a><br>
        {% endfor %}
    </div>
    <div>
        {% if result is defined %}
        <p>Your search did not match any documents</p>
        {% elif results is defined %}
        <p>Search results:</p>
        {% for item in results %}
         <a href="{{item[0]}}">{{item[1]}}</a><br>
        {% endfor %}
        {% else %}
        <p></p>
        {% endif %}
    </div>
</body>
</html>