<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
 	<title>Categories</title>
    </head>
<style>
div {
    margin: auto;
}
nav { 
    text-align: center 
    }
</style>
<body>
    <nav>
    <a href="/">Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    </nav>
   <div>
       <h1>Categories:</h1>
    </div> 
    <br>
    <div>
        {% for item in tags_titles %}
         <ul><h2>{{item[0]}}</h2></ul>
             {% for element in item[1] %}
        <li><a href="{{'/blog/' + element.replace(' ','-')}}">{{element}}</a></li>
        {% endfor %}
         {% endfor %}
    </div>
</body>
</html>